* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(0, 0, 33);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul li {
    margin: 0 23px;
    cursor: pointer;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: rgb(170, 107, 228);
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    /* background-color: red; */
    font-size: 3rem;

}

.rightsection {
    /* background-color: red; */
}

.rightsection img {
    width: 50%;
    border-radius: 50%;
}

.purple {
    color: rgb(170, 107, 228);
}